.btn {
  background-color: $bg-font-border--color;
  border: 1px solid $bg-font-border--color;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 30px;
  outline: none;

  &__description {
    margin-top: 40px;
    color: $description--color;
  }

  &--buy-size {
    font-size: 15px;
    padding: 12px 24px;
  }

  &--purchase-size {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
  }

  &--transparent {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0);
  }
}


.btn-sm {
  display: flex;

  &__button {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #b6b6b6;
    background-image: linear-gradient(#fbfbfb, #e4e4e4);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

    &:hover {
      border: 1px solid #9b9b9b;
      background-image: linear-gradient(#fbfbfb, #cecece);
    }
  }

  &__counter {
    text-decoration: none;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 10px;
    border: 1px solid #b6b6b6;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left: none;
    color: #000;

    &:hover {
      color: #0504ff;
    }
  }

  &__octicon {
    vertical-align: bottom;
  }
}