.section-heading{
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    &--header-size {
        font-size: 48px;
        line-height: 1.2;
    }

    &--rev-editor-size {
        font-size: 26px;
        line-height: 1.6;
    }

    &--advantages-size {
        font-size: 32px;
        line-height: 1.2;
    }

    &--prices-size {
        font-size: 28px;
        line-height: 1.6;
    }

    &--news-size {
        font-size: 36px;
        line-height: 41px;
        padding-bottom: 50px;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--capitalize {
        text-transform: capitalize;
    }

    &--light {
        color: $color-white;
    }

    &--dark {
        color: $bg-font-border--color;
    }

    &--extradark {
        color: #635C73;
    }
}