.section-heading{
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
  margin: 0 auto;

  &--header-size {
    font-size: 48px;
    text-align: center;
  }

  &--rev-editor-size {
    font-size: 26px;
    width: 295px;
    text-align: center;
  }

  &--advantages-size {
    font-size: 32px;
    width: 295px;
    text-align: center;
  }

  &--prices-size {
    font-size: 28px;
    width: 295px;
    text-align: center;
  }

  &--news-size {
    font-size: 36px;
    line-height: 41px;
    padding-bottom: 50px;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--light {
    color: $color-white;
  }

  &--dark {
    color: $bg-font-border--color;
  }

  &--extradark {
    color: #635C73;
  }
}