.advantages {
    background: #f4f4f4;
    padding-top: 34px;
    padding-bottom: 6px;

    &__items {
        margin-top: 34px;
        margin-bottom: 20px;
        text-align: center;

        &--flex {
            display: flex;
            flex-direction: column;
        }
    }

    &__heading {
        margin-top: 30px;
        margin-bottom: 20px;
        font-family: Montserrat, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.3;
        color: #323232;
    }

    &__description {
        margin-bottom: 37px;
        font-family: Montserrat, Arial, sans-serif;
        font-size: 14px;
        color: $description--color;
        line-height: 1.5;
    }

    &__img {
        max-height: 381px;
        max-width: 716px;
    }
}