.header {
    background: url("../img/header/header-bg.png") no-repeat center/cover;
    font-family: Montserrat, Arial, sans-serif;
    position: relative;

    &--flex {
        margin: 43px 30px 393px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__slogan {
        font-family: Lato, Arial, sans-serif;
        font-size: 18px;
        color: $bg-font-border--color;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        line-height: 1.9;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__description {
        font-size: 14px;
        text-transform: uppercase;
        color: $description--color;
        width: 100%;
        text-align: center;
    }
}

.btn-description-wrap {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -53px;
    left: 50%;
    transform: translateX(-50%);
}