@import "../variables";

.nav-bar {
    background-color: #27262a;
    padding-top: 30px;
    padding-bottom: 30px;

    &__container {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.logo {
    position: relative;

    &__img-hover {
        position: absolute;
        opacity: 0;

        &--transitioned { @include transitioned; }
    }

    &__text {
        display: none;

        &--transitioned { @include transitioned; }
    }
}

.logo__link:hover .logo__img-hover { opacity: 1; }

.logo__link:hover .logo__text { color: $color-white; }

.main-menu {
    position: absolute;
    top: 104px;
    right: -300px;
    z-index: 1;
    display: none;
    width: 290px;
    background-color: #333;


    &__item {
        padding-top: 31px;
        padding-bottom: 36px;
        border-bottom: 1px solid $border-color;
    }

    &__link {
        font-size: 26px;
        color: #fff;
        padding-left: 32px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;

        &--transitioned { @include transitioned; }

        &:hover { color: #FEFEFE; }

        &--active {
            color: $bg-font-border--color;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 17px;
                background-color: $bg-font-border--color;
                width: 8px;
                height: 53px;
            }
        }
    }

    &--animated {
        display: block;
        right: 15px;
        animation-name: slideLeft;
        animation-duration: 1.5s;
    }
}

.menu-burger {
    align-self: center;

    &__line {
        height: 3px;
        margin-bottom: 4px;
        background-color: #fff;

        &--short {
            width: 20px;
            margin-left: 6px;
        }

        &--long { width: 26px; }
    }
}

@keyframes slideLeft {
    0% { right: -300px; }

    100% { right: 15px; }
}