//@import "../variables";

.news {
    background-image: url("../img/news/news-bg-320.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 61px;
    padding-bottom: 73px;
    text-align: center;

    &__heading { padding-bottom: 50px; }

    &__content {
        padding-right: 35px;
        padding-left: 35px;
    }

    &-item {
        padding-bottom: 45px;

        &__img {
            &-wrapper { padding-bottom: 41px; }
        }

        &__text {
            color: $color-white;
            font-family: Lato, sans-serif;
            font-weight: bold;
            font-style: italic;
            line-height: 22px;
        }
    }

    &__footer {
        &-text { display: none; }
    }

    &__divider {
        margin-right: 10px;
        margin-left: 10px;
        border-bottom: 2px solid $border-color;
    }
}

