.prices {
  //background: url("../img/prices/prices-background.png") no-repeat center/cover;
  font-family: Montserrat, Arial, sans-serif;
  background-color: #4b3b4e;

  &__items {
    margin-top: 40px;
    margin-bottom: 93px;

    &--flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__item {
    color: #ffffff;
    display: inline-block;
    margin-top: 13px;
    box-sizing: border-box;

    align-self: center;

    &--transparent {
      background-color: rgba(255, 255, 255, 0.11);

      &-dark {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__heading {
    font: normal 24px ﻿Montserrat;
    text-transform: uppercase;
    padding: 41px 0 29px;
    width: 256px;
    box-sizing: border-box;

    text-align: center;

    &--xl {
      padding: 51px 0 43px;
      width: 290px;
    }

    &--transparent {
      background-color: rgba(255, 255, 255, 0.06);

      &-dark {
        background-color: rgba(0, 0, 0, 0.11);
      }
    }
  }

  &__content {
    //border: 1px solid yellow;
    padding-top: 28px;
    padding-bottom: 38px;
    box-sizing: border-box;
    height: 360px;

    &--xl {
      padding-top: 15px;
      padding-bottom: 47px;
      height: 450px;
    }

    &--flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__price {
    font-size: 60.18px;

    &--xl {
      font-size: 82px;
    }

    &--bold {
      font-weight: bold;
    }
  }

  &__term {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    margin-top: 16px;
  }

  &__separator {
    border: 2px solid $bg-font-border--color;
    width: 60px;
    margin-top: 36px;
    margin-bottom: 30px;

    &--xl {
      margin-top: 49px;
      margin-bottom: 41px;
    }
  }

  &__features {
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.75;
  }
}

.btn--flex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}