.prices {
    font-family: Montserrat, Arial, sans-serif;
    background-color: #4b3b4e;

    padding-bottom: 93px;

    &__items {
        margin-top: 40px;

        &--flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__item {
        box-sizing: border-box;
        display: inline-block;
        color: $color-white;
        margin-top: 13px;

        align-self: center;

        &--transparent {
            background-color: rgba(255, 255, 255, 0.11);

            &-dark {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    &__heading {
        box-sizing: border-box;
        font: normal 24px ﻿Montserrat;
        text-align: center;
        text-transform: uppercase;
        padding: 41px 0 29px;

        &--xl {
            padding: 51px 0 43px;
        }

        &--transparent {
            background-color: rgba(255, 255, 255, 0.06);

            &-dark {
                background-color: rgba(0, 0, 0, 0.11);
            }
        }
    }

    &__content {
        box-sizing: border-box;
        padding-top: 28px;
        padding-bottom: 38px;

        &--xl {
            padding-top: 15px;
            padding-bottom: 47px;
        }

        &--flex {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__price {
        font-size: 60px;

        &--xl {
            font-size: 82px;
        }

        &--bold {
            font-weight: bold;
        }
    }

    &__term {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        margin-top: 16px;
    }

    &__separator {
        border: 2px solid $bg-font-border--color;
        width: 60px;
        margin: 36px 97px 30px;

        &--xl {
            margin: 50px 113px 40px;
        }
    }

    &__features-wrap {
        min-height: 84px;
        min-width: 215px;
        text-align: center;

        &--xl {
            min-height: calc(84px + 37.6px);
        }
    }

    &__feature {
        font-size: 16px;
        text-transform: capitalize;
        line-height: 1.75;
    }
}

.btn--flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}