.prices {
  background: url("../../../src/img/prices/prices-background.png") no-repeat center/cover;
  font-family: Montserrat, Arial, sans-serif;

  &--flex {

    display: flex;
    justify-content: center;
  }

  &__item {
    border: 1px solid red;
    color: #ffffff;
    display: inline-block;

    &--transparent {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__heading {
    font: normal 24px ﻿Montserrat;
    text-transform: uppercase;
    padding: 46px 64px 34px;

    &--transparent {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__content {
    border: 1px solid orange;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price {
    font-size: 60.18px;
    margin-top: 32px;

    &--bold {
      font-weight: bold;
    }
  }

  &__term {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    margin-top: 24px;
  }

  &__separator {
    border: 2px solid $bg-font-border--color;
    width: 60px;
    margin-top: 39px;
  }

  &__features {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 31px;
  }
}