.rev-editor {
    margin-top: 120px;
    padding-bottom: 88px;

    &__description {
        text-align: center;
        color: #323232;
        font-family: Lato, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42;
        margin: 23px auto 14px;
    }

    &__item {
        margin-top: 20px;
    }

    &__items {
        max-width: 340px;
        margin: 0 auto;
        text-align: center;

        &--flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: space-between;
        }
    }
}