.rev-editor {
  margin-top: 120px;

  &__description {
    text-align: center;
    color: #323232;
    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.75;
    width: 266px;
    margin: 23px auto 0;
  }

  &__buttons--flex {
    width: 220px;
    margin: 34px auto 88px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}