.rev-editor {
  margin-top: 120px;

  &__description {
    text-align: center;
    color: #323232;
    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.75;
    width: 266px;
    margin: 23px auto 0;
  }

  &__items {
    width: 260px;
    height: 70px;
    margin: 34px auto 88px;
    text-align: center;

    &--flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-between;
    }
  }
}