@media only screen and (min-width: 579px) {

    //section news

    .news-item:nth-child(odd) { padding-right: 20px; }

    .news-item:nth-child(even) { padding-left: 20px; }

    // section prices:

    .prices__separator {
        margin: 36px 96px 30px;

        &--xl {
            margin: 50px 118px 40px;
        }
    }
}