@media only screen and (min-width: 1090px) {

    // section news:

    .news-item {
        padding-right: 30px;
        padding-left: 30px;

        &:nth-child(odd) {
            padding-right: 30px;
        }

        &:nth-child(even) {
            padding-left: 30px;
        }
    }
}