@media only screen and (min-width: 993px) {

    // nav-bar:

    .nav-bar .container {
        display: flex;
        padding-right: 90px;
        padding-left: 90px;
    }

    .btn--buy-size {
        order: 2;
        font-size: 16px;
        padding: 8px 36px;
        align-self: center;
        margin-left: 35px;
    }

    .nav-bar {
        padding-top: 27px;
        padding-bottom: 27px;
    }

    .main-menu {
        width: auto;
        align-items: center;
        margin-left: auto;

        &__item { padding-top: 0; }

        &__link {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    // section header:

    .section-heading--header-size {
        font-size: 82px;
    }

    .header {

        &--flex {
            margin: 60px 30px 433px;
        }

        &__slogan {
            font-size: 30px;
            margin-top: 18px;
            margin-bottom: 18px;
        }

        &__description {
            font-size: 16px;
        }
    }

    .btn-description-wrap {
        bottom: -64px;
    }

    .btn--download-size {
        font-size: 21px;
        padding: 18px 63px;
    }

    .btn__description {
        margin-top: 19px;
    }

    // rev-editor section:

    .section-heading--rev-editor-size {
        font-size: 54px;
    }

    .rev-editor {
        margin-top: 129px;
        padding-bottom: 70px;
    }

    // advantages section:

    .section-heading--advantages-size {
        font-size: 48px;
        line-height: 1;
        float: right;
        text-align: left;
        width: 53%;
        margin-bottom: 50px;
    }

    .advantages {
        padding-top: 84px;
        padding-bottom: 33px;

        &__items {
            margin-top: 20px;
            text-align: left;
            float: left;
            max-width: 45%;

            &--flex {
                display: flex;
                flex-direction: column;
            }
        }

        &__item--flex {
            display: flex;
        }

        &__description {
            margin-bottom: 37px;
        }

        &__img {
            margin-right: -50%;
        }
    }

    // section news:

    .news {
        background-image: url("../img/news/news-bg-1380.jpeg");

        &__content {
            padding-right: 30px;
            padding-left: 30px;
            margin-top: 95px;
        }

        &-item {
            width: 33.333334%;
            padding-right: 20px;
            padding-left: 20px;
            padding-bottom: 60px;

            &:nth-child(odd) { padding-right: 20px; }

            &:nth-child(even) { padding-left: 20px; }

            &__img {
                padding-bottom: 0;

                &-wrapper {
                    display: flex;
                    align-items: center;
                    height: 64px;
                    padding-bottom: 25px;
                }
            }

            &__text { padding-bottom: 0; }
        }

        &__footer-text {
            max-width: 850px;
            margin: 0 auto;
        }

        &__divider {
            width: 780px;
            margin: 0 auto;
        }
    }

    .section-heading--news-size {
        font-size: 48px;
        padding-bottom: 0;
    }

    // section prices:

    .section-heading--prices-size {
        font-size: 48px;
    }

    .prices {

        &__items {
            margin-top: 44px;
            margin-bottom: 93px;

            &--flex {
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
            }
        }

        &__item {

            &--xl {
                margin-top: 0;

                order: 0;
            }

            &:first-child {
                order: 0;
            }

            &:last-child {
                margin-top: 0;

                order: 0;
            }
        }
    }
}