@import "../variables";

@media only screen and (min-width: 481px) {
  /*** Nav-bar **/

  .nav-bar {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .nav-bar .container {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }

  .logo {
    float: left;

    &__link {
      display: flex;
      text-decoration: none;
    }

    &__text {
      display: flex;
      align-self: center;
      color: $bg-font-border--color;
      font-size: 24px;
      font-family: Lato, sans-serif;
      font-weight: 700;
      padding-left: 17px;
    }
  }

  .main-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: static;
    width: 100%;
    background-color: transparent;
    clear: both;

    &__item {
      padding-top: 15px;
      padding-bottom: 0;
      border-bottom: none;
    }

    &__link {
      font-size: 16px;
      color: $bg-font-border--color;
      font-weight: 700;
      padding-right: 24px;
      padding-left: 24px;

      &--active::before { display: none; }
    }
  }

  .menu-burger { display: none; }

  .btn--buy-size { float: right; }

  /*** End nav-bar ***/

  /*** News section ***/

  .section-heading--news-size {
    font-size: 42px;
    padding-bottom: 90px;
  }

  .news {
    background-image: url("../img/news/news-bg-768.jpeg");
    padding-top: 79px;
    padding-bottom: 80px;
    background-position: 50% 35%;

    &__content {
      display: flex;
      flex-wrap: wrap;
      padding-right: 5px;
      padding-left: 5px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      box-sizing: border-box;

      &__img {
        padding-bottom: 0;

        &-wrapper {
          display: flex;
          align-items: center;
          height: 64px;
          padding-bottom: 50px;
        }
      }

      &:nth-child(odd) { padding-right: 10px; }

      &:nth-child(even) { padding-left: 10px; }
    }

    &__footer {
      padding-right: 30px;
      padding-left: 30px;

      &-text {
        display: block;
        color: #A291A5;
        font-size: 14px;
        line-height: 19px;
        font-family: Lato, sans-serif;
        font-weight: 400;
        padding-bottom: 15px;
      }
    }

    &__divider {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  /*** End news ***/

  // section header:

  .section-heading--header-size {
    font-size: 72px;
  }

  .header__slogan {
    font-size: 24px;
    width: 100%;
    margin-top: 20px;
  }

  .btn-description-wrap {
    width: 100%;
    bottom: -64px;
  }

  .btn--download-size {
    font-size: 21px;
    padding: 18px 63px;
  }

  .btn__description {
    margin-top: 19px;
  }

  // section rev-editor:

  .rev-editor {
    margin-top: 158px;

    &__description {
      font-size: 21px;
      line-height: 1.5;
      width: 100%;
      margin: 23px auto 0;
    }

    &__items {
      width: 400px;
      height: auto;
      margin: 23px auto 98px;
    }
  }

  .section-heading--rev-editor-size {
    font-size: 42px;
    width: 100%;
  }

  // section advantages:

  .section-heading--advantages-size {
    font-size: 42px;
    width: 100%;
  }

  .advantages {
    padding-top: 45px;
    padding-bottom: 45px;

    &__items {
      margin-top: 55px;
      margin-bottom: 0px;
      text-align: left;

      &--flex {
        display: flex;
        flex-direction: column;
      }
    }

    &__item--flex {
      display: flex;
    }

    &__icon--flex {
      min-width: 150px;

      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }

    &__context {
      //margin-left: 24px;

      &--flex{

      }
    }

    &__heading {
      margin: 0 0 20px;
      font-size: 16px;
      color: #323232;
    }

    &__description {
      margin-bottom: 59px;
      font-family: Montserrat, Arial, sans-serif;
      font-size: 14px;
      color: $description--color;
      line-height: 1.5;
    }

    &__img {
      height: 475px;
      width: 933px;
      //transform: translateX(50%);
    }
  }

  // section prices:

  .section-heading--prices-size {
    font-size: 42px;
    width: 100%;
  }
}