@import "../variables";

@media only screen and (min-width: 481px) {
  /*** Nav-bar **/

  .nav-bar {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .nav-bar .container {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
  }

  .logo {
    float: left;

    &__link {
      display: flex;
      text-decoration: none;
    }

    &__text {
      display: flex;
      align-self: center;
      color: $bg-font-border--color;
      font-size: 24px;
      font-family: Lato, sans-serif;
      font-weight: 700;
      padding-left: 17px;
    }
  }

  .main-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: static;
    width: 100%;
    background-color: transparent;
    clear: both;

    &__item {
      padding-top: 15px;
      padding-bottom: 0;
      border-bottom: none;
    }

    &__link {
      font-size: 16px;
      color: $bg-font-border--color;
      font-weight: 700;
      padding-right: 24px;
      padding-left: 24px;

      &--active::before { display: none; }
    }
  }

  .menu-burger { display: none; }

  .btn--buy-size { float: right; }

  /*** End nav-bar ***/

  /*** News section ***/

  .section-heading--news-size {
    font-size: 42px;
    padding-bottom: 90px;
  }

  .news {
    padding-top: 79px;
    padding-bottom: 80px;
    background-position: 50% 35%;

    &__content {
      display: flex;
      flex-wrap: wrap;
      padding-right: 5px;
      padding-left: 5px;
    }

    &-item {
      width: 50%;
      box-sizing: border-box;

      &:nth-child(4) { padding-top: 35px; }

      &:nth-child(odd) { padding-right: 45px; }

      &:nth-child(even) { padding-left: 45px; }
    }

    &__footer {
      padding-top: 60px;

      &-text {
        display: block;
        color: #A291A5;
        font-size: 14px;
        line-height: 19px;
        font-family: Lato, sans-serif;
        font-weight: 400;
        padding-bottom: 15px;
      }
    }
  }

  /*** End news ***/

  .section-heading--header-size {
    font-size: 72px;
  }

  .header__slogan {
    border: 1px solid yellow;

    display: block;
    font-size: 18px;
    width: 100%;
    line-height: 2.8;
    margin-top: 20px;
  }



}