@media only screen and (min-width: 481px) {

    // nav-bar section:

    .nav-bar {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .nav-bar .container {
        display: block;
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo {
        float: left;

        &__link {
            display: flex;
            text-decoration: none;
        }

        &__text {
            display: flex;
            align-self: center;
            color: $bg-font-border--color;
            font-size: 24px;
            font-family: Lato, sans-serif;
            font-weight: 700;
            padding-left: 17px;
        }
    }

    .main-menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: static;
        width: 100%;
        background-color: transparent;
        clear: both;

        &__item {
            padding-top: 15px;
            padding-bottom: 0;
            border-bottom: none;
        }

        &__link {
            font-size: 16px;
            color: $bg-font-border--color;
            font-weight: 700;
            padding-right: 24px;
            padding-left: 24px;

            &--active::before {
                display: none;
            }
        }
    }

    .menu-burger {
        display: none;
    }

    .btn--buy-size {
        float: right;
    }

    // header section:

    .section-heading--header-size {
        font-size: 72px;
    }

    .header {

        &--flex {
            margin: 50px 30px 395px;
        }

        &__slogan {
            font-size: 24px;
            margin-top: 26px;
            margin-bottom: 20px;
        }

        &__description {
            font-size: 14px;
        }
    }

    .btn-description-wrap {
        bottom: -64px;
    }

    .btn--download-size {
        font-size: 21px;
        padding: 18px 63px;
    }

    .btn__description {
        margin-top: 19px;
    }

    // rev-editor section:

    .section-heading--rev-editor-size {
        font-size: 42px;
    }

    .rev-editor {
        margin-top: 158px;
        padding-bottom: 98px;

        &__description {
            font-size: 21px;
            line-height: 1.5;
            margin: 38px auto 16px;
        }

        &__items {
            max-width: 400px;
            height: auto;
        }
    }

    // advantages section:

    .section-heading--advantages-size {
        font-size: 42px;
    }

    .advantages {
        padding-top: 54px;
        padding-bottom: 23px;

        &__items {
            margin-top: 60px;
            margin-bottom: 0;
            text-align: left;

            &--flex {
                display: flex;
                flex-direction: column;
            }
        }

        &__item--flex {
            display: flex;
        }

        &__icon {

            &--ml-15 {
                margin-left: 15px;
            }

            &--flex {
                min-width: 25%;

                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }

        &__heading {
            margin-top: 0;
        }

        &__description {
            margin-bottom: 60px;
        }

        &__img {
            height: 519px;
            width: 977px;
        }
    }

    // news section:

    .section-heading--news-size {
        font-size: 42px;
        padding-bottom: 90px;
    }

    .news {
        background-image: url("../img/news/news-bg-768.jpeg");
        padding-top: 79px;
        padding-bottom: 80px;
        background-position: 50% 35%;

        &__content {
            display: flex;
            flex-wrap: wrap;
            padding-right: 5px;
            padding-left: 5px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            box-sizing: border-box;

            &__img {
                padding-bottom: 0;

                &-wrapper {
                    display: flex;
                    align-items: center;
                    height: 64px;
                    padding-bottom: 50px;
                }
            }

            &:nth-child(odd) {
                padding-right: 10px;
            }

            &:nth-child(even) {
                padding-left: 10px;
            }
        }

        &__footer {
            padding-right: 30px;
            padding-left: 30px;

            &-text {
                display: block;
                color: #A291A5;
                font-size: 14px;
                line-height: 19px;
                font-family: Lato, sans-serif;
                font-weight: 400;
                padding-bottom: 15px;
            }
        }

        &__divider {
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    // prices section:

    .section-heading--prices-size {
        font-size: 42px;
    }

    .prices {
        background: url("../img/prices/prices-background.png") no-repeat center/cover;
        background-color: #4b3b4e;

        &__items {
            margin-top: 44px;
            margin-bottom: 93px;

            &--flex {
                max-height: 1227px;

                flex-wrap: wrap-reverse;
                flex-direction: column;
                align-content: space-evenly;
            }
        }

        &__item {
            margin: 0;

            &--xl {
                margin-top: 42px;

                order: 3;
            }

            &:first-child {
                order: 2;
            }

            &:last-child {
                order: 1;
                margin-top: 92px;
            }
        }

        &__separator {
            margin: 36px 75px 30px;

            &--xl {
                margin: 50px 85px 40px;
            }
        }
    }
}