@import "reset";
@import "mixins";
@import "variables";
@import "components/components";
@import "sections/sections";
@import "media/media";
@import "fonts-connected";

.container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1180px;
    overflow: hidden;
}